<div class="row border-bottom mb-4">
  <div class="col-12 col-sm-9">
    <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px">{{vaga.titulo}}</h4>
    <div>
      <strong>Localidade: </strong>
      {{vaga.localidade}}</div>
    <div>
      <strong>Salário: </strong>
      {{vaga.salario}}
    </div>
  </div>
  <div class="col-12 col-sm-3">
    <a 
      type="button" 
      class="btn btn-outline-primary"
      href="mailto:someone@yoursite.com?subject=Vaga {{vaga.titulo}}"
    >Aplicar</a>
  </div>
</div>